/*
  hoja de estilos
  esto es un comentario de bloque
  @auto: ander
  @version: 1.0
  @tags: css, basic, etc..
  @licencia: mit
  
*/

/*
Orden de los componentes de un css
    1. reset
    2. @keyframes
    3. TODAS etiquetas estilos generales - normalizar
    4. layouts -> Las secciones de las paginas, footer, articles
    5. clases
    6. ids (cosas mÃ¡s especificas) => custom.css
    7. @media querys

*/

@import url("reset.css");
@import url("normalize.css");

@import url("etiquetas.css");
@import url("animaciones.css");
@import url("layouts.css");
@import url("clases.css");
@import url("custom.css");
@import url("media.css");


@import url("impresora.css") print;
/*

Reset basico
*{
    margin: 0;
    padding: 0;
}
*/

* {
	font-family: 'Playfair Display', serif;
	
}
